<br>
<br>
<div class="row  align-items-left p-4">
  <div class="col-lg-4  ">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
  <div class="col-lg-7 p-4">
  
    <b>About Me</b>
    <br>
    Hello, I'm Tejas Vaidhya,  
    I am currently in my senior year of Undergraduate studies at Indian Institute of Technology, Kharagpur). <br> <br>
    
    My research interests include Natural Language processing, Computer vision and Causal Inference. I am also highly interested to work on causality, explainability and Transformer based Language models. The goal of my research is to develop useful systems that work for the right reasons!  <br>
    
    I love Programming, Designing, and Planning. I also enjoy watching Anime, reading non-fiction, film making, cooking, and interacting with new people. I am a foodie. In my free time, I like to explore food (you can often find me in some of the eateries of KGP). I have always adored technology and am very much fascinated by how it affects the life of people.  
    
    <br> {% include elements/button.html link="https://scholar.google.com/citations?user=dGedZKoAAAAJ&hl=en)" text="<b>Google Scholar</b>" style="outline-dark" size="sm" %}  | {% include elements/button.html link="https://twitter.com/imtejas13" text="<b>Twitter Handle</b>" style="outline-dark" size="sm" %} 
    

  </div>
</div>